body{
    /* background-color: #4287f5; */
    background-size:cover;
}

.genshin{
    background-image: url("../img/coop.png");
    width: 500px;
    height: 350px;
    background-position: center;
    background-size: cover;
}

#genshinDesc{
    color: #4287f5;
    text-align: center;
    text-transform: capitalize;
}